<aside class="sidebar w-96 h-screen p-7 bg-cyan-800 text-white {{ sidebar.styles.container }}">
	<div class="flex gap-4 mb-8">
		<img class="w-20 h-20 rounded-full border border-white" src="{{ asset('images/logo-pf.svg') }}" alt="ProjectFlow logo">
		<div class="flex flex-col justify-center">
			<h3 class="font-bold text-3xl">{{ sidebar.title }}</h3>
			<p class="text-xl">{{ sidebar.subtitle }}</p>
		</div>
	</div>
	<nav>
		<ul>
			{% set current_route = app.request.attributes.get('_route') %}
			{% for button in sidebar.nav_buttons %}
				<li>
					<a class="block rounded-xl w-full mb-2 p-5 font-bold text-xl {{current_route == button.route ? sidebar.styles.selected : sidebar.styles.default }}" href="{{ url(button.route) }}">{{ button.text }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</aside>
