{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<div class="px-2 py-4 lg:px-6 lg:py-8">
		<h1 class="text-4xl font-bold mb-8">Account settings</h1>
		{{ form_start(accountSettingsForm) }}
		{{ form_row(accountSettingsForm.email) }}
		{{ form_row(accountSettingsForm.username) }}
		{{ form_row(accountSettingsForm.title) }}
		{{ form_row(accountSettingsForm.plainPassword, { 'attr': {'placeholder': 'Leave blank to keep current password'} }) }}
		<button class="btn">Save changes</button>
		{{ form_end(accountSettingsForm) }}
	</div>
{% endblock %}
