{% extends 'base.html.twig' %}

{% block title %}Add task
{% endblock %}

{% block body %}

	<div class="px-2 py-4 lg:px-6 lg:py-8">
		<h1 class="text-4xl font-bold mb-8">Add Task</h1>

		{{ form_start(form) }}
		{{ form_row(form.name) }}
		{{ form_row(form.description) }}
		{{ form_row(form.status) }}

		<button class="btn btn-primary">Save</button>
		{{ form_end(form) }}

	</div>
{% endblock %}
